.doc{
    margin: auto;
    border: 1.5rem solid var(--bg-header);
    border-radius: 3rem;
    padding: 2rem;
    max-width: 46.875rem;
    background-color: var(--bg);
}
.doc *{
    color: var(--text);
}
h1{
    margin-bottom: 1.34rem;
    font-size: 2rem;
}
h2{
    margin: 1.245rem 0;
    font-size: 1.5rem;
}
p{
    margin: 1rem 0;
}
.img1{
    width: calc(100% - 8rem);
    max-width: 14rem;
    height: auto;
    float: right;
}
.img2{
    width: calc(100% - 14rem);
    max-width: 27rem;
    height: auto;
    float: inline-start;
}
@media (max-width: 600px){
    .img2{
        display: none;
    }
}
@media (max-width: 480px){
    .doc{
        border: none;
        border-radius: 0;
    }
}