
#slogan{
    color: var(--text-primary);
    font-size: 4.5rem;
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#slogBox{
    height: 500px;
    background-color:var(--bg-fixed);
    text-align: center;
    position: relative;
}
.parallax {
    /* The image used */
    background-image: url(/images/Ithaa-Restaurant4.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#starBox{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.starLarge{
    font-size: 2rem !important;
}
.starLarger{
    font-size: 2.5rem !important;
}
#starLargest{
    font-size: 3rem !important;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}