:root{
    --text: #000000;
    --price: #fbdb69; 
    --info: #ff6666;
    --bg-menu: #f0f8ff;
    --bg-btn: #808080;
    --bg-btn-hover: #757575;
    --bg-nav: #303030;
}
.menu{
    margin: auto;
    padding: 5rem;
    border: 1.5rem var(--bg-nav) solid;
    border-radius: 3rem;
    max-width: 60rem;
    background-color: var(--bg-menu);
}
.menu *{
    color: var(--text);
}
#btn-menu, .menu-courses{
    display: none;
    height: 2.5rem;
    user-select: none;
}
.menu-list *{
    user-select: none;
}
.menu-list{
    margin: 1rem auto 5rem auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-link{
    color: var(--bg-menu);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 2rem;
    background-color: var(--bg-nav);
}
.menu-link:hover{
    background-color: var(--bg-btn-hover);
}
.item-course{  
    scroll-margin-top: 5rem; 
    border-bottom: .1rem solid var(--text);
    padding-top: 1rem;
    font-size: 3rem;
    color: var(--text);
    text-align: center;
    line-height: 3rem;
}
#beverages{ 
    border-top: .1rem solid var(--text);
    padding-top: 2.5rem;
}
.item-container{
    margin: 1.5rem auto;
    border-bottom: .1rem solid var(--text);
    padding: 1rem;
    display: flex;
}
.item-img{
    border: .05rem solid var(--text);
    height: 10rem;
    width: 10rem;
}
.item-text{
    margin-left: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.item-title{
    flex-grow: 1;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
}
.item-name{
    /*font?*/
}
.item-description{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.item-icons{
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
}
.item-icon{
    margin-right: .75rem;
}
.item-info, .item-price{
    max-height: 1.125rem;
    padding: .4rem;
    margin-left: auto;
}
.item-price{
    background-color: var(--price);
}
.item-info{
    background-color: var(--info);
}
.info-icons{
    margin: 1.5rem auto 2.5rem auto;
    max-width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-icons *{
    color: var(--text);
}
.info-icon:nth-child(1){
    margin-left: 0;
}
.info-icon{
    margin-left: .75rem;
    margin-right: .25rem;
}
.beverages-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: .1rem solid var(--text);
}
.beverages-container *{
    color: var(--text);
}
.beverages-info{
    margin: .11rem .5rem;
    color: var(--text);
}
@media (max-width: 1200px){
    .item-course{
        scroll-margin-top: 7rem;
    }
}
@media (max-width: 1050px){
    .menu-courses{
        position: relative;
        z-index: 1;
        margin: 0 auto 1rem auto;
        width: fit-content;
        display: block;
        border-radius: 0.5rem;
        padding: 1rem;
        font-size: 2.5rem;
        background-color: var(--bg-btn);
    }
    .menu-courses:hover{
        background-color: var(--bg-btn-hover);
    }
    .menu-list{
        display: none;
        width: 100%;
    }
    #btn-menu:checked ~ .menu-courses{
        margin: auto;
    }
    #btn-menu:checked ~ .menu-list{
        margin-top: -1rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        padding-top: 1rem;
        width: 14.1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-btn);
    }
    .menu-link{
        margin: .5rem;
        padding: .5rem;
        width: 100%;
        display: block;
        font-size: 1.5rem;
    }
}
@media (max-width: 870px){
    .menu{
        padding: 3rem;
    }
    .item-container{
        flex-direction: column;
        align-items: center;
    }
    .item-text{
        margin-top: 1rem;
        margin-left: 0;
    }
}
@media (max-width: 700px){
    .beverages-info{
        display: none;
    }
}
@media (max-width: 600px){
    .menu{
        padding: 1rem;
    }
    .item-course{   
        font-size: 2.5rem;

    }
    .info-icons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
    .info-icon:nth-child(1){
        margin: .75rem auto;
        margin-right: .5rem;
    }
    .info-icon{
        margin: .75rem auto;
        margin-right: .5rem;
    }
}
@media (max-width: 480px){
    .menu{
        border: none;
        border-radius: 0;
    }
    .item-course{
        scroll-margin-top: 5rem;
    }
}