/*common style*/
*{
    outline: 0;
    margin: 0;
    border: 0;
    padding: 0;
    color: var(--text-primary);
    text-decoration: none;
}
:root{
    --text-primary: gainsboro;
    --text-secondary: black;
    --bg-fixed: #282828;
    --bg-secondary:
    linear-gradient(DodgerBlue, darkblue);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
/*::-webkit-scrollbar{
    display: none;
}*/

/*style header*/
.logo{
    font-size: 2rem;
}
header{
    position: fixed;
    padding: 0 1rem;
    height: 3rem;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-fixed);
}
.nav-list{
    width: 26rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.logo:hover, .nav-link:hover, .material-symbols-outlined:hover{
    color: grey;
}
#btn-nav, .btn-nav{
    display: none;
}


/*min-width: 600px*/

@media only screen and (max-width: 600px) {
    .nav-list{
        display: none;
    }
    #btn-nav:checked ~ .nav-list{
        position: fixed;
        left: calc(50%);
        transform: translate(-50%);
        height: 20rem;
        width: 101vw;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-fixed);
    }
    .btn-nav, .nav-link{
        display: block;
        font-size: 2.6rem;
    }
}

section {
    padding-top: 3rem;
}
.flex{
    display: flex;
    flex-direction: row;
}
.photo{
    height: 25rem;
    width: 50%;
    border-radius: 0% 0% 70px 0%;
}
#slogan{
    height:500px;
    background-color:red;font-size:36px
}
.parallax {
    /* The image used */
    background-image: url(/images/Ithaa-Restaurant4.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }