/*Common Style*/
*{
    outline: 0;
    margin: 0;
    border: 0;
    padding: 0;
    color: var(--text-primary);
    text-decoration: none;
}
:root{
    --text-primary: gainsboro;
    --text-hover: gray;
    --bg-header: #282828;
    --bg-nav: #303030;
    --bg-secondary: linear-gradient(#1564DC, darkblue);
    --bg-footer: #000030;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
li{
    list-style: none;
}
/*Fonts*/
@font-face {
    font-family: waves;
    src: url(../fonts/waves.ttf) format("truetype");
}
@font-face {
    font-family: archive;
    src: url(../fonts/archive.ttf) format("truetype");
}
/*Style Skeleton*/
/*Style Header*/
my-header{
    position: fixed;
    top: 0px;
    width: 100%;
}
header{
    z-index: 1;
    padding: 0 1.5rem;
    height: 5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-header);
}
.logo{
    font-size: 3rem;
    font-family: archive;
    user-select: none;
}
#btn-nav, .tri, .x{
    display: none;
    height: 2.5rem;
}
.menu-btn{
    font-size: 2.5rem !important;
    user-select: none;
    cursor: pointer;
}
.nav-list{
    width: 60rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link{
    font-size: 2rem;
    font-family: waves;
    user-select: none;
}
.logo:hover, .nav-link:hover, .menu-btn:hover{
    color: var(--text-hover);
    transition: all .5s ease-in-out;
}
/*Style Section*/
section{
    margin-top : 5rem;
    min-height: calc(100vh - 11.5rem);
    background: url(../img/footer-bg.svg),
                var(--bg-secondary);
    Background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
/*Style Footer*/
footer{
    padding: 1.5rem;
    height: 3.5rem;
    width: calc(100% - 3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-footer);
 }
 .socials-div{
    width: 10rem;
    display: flex;
    justify-content: space-between;
 }
.socials{
    padding: .5rem;
    height: 1rem;
    width: 1rem;
    text-align: center;
    border-radius: 50%;
    background: var(--text-primary);
    color: var(--bg-footer);
}
.socials:hover{
    background-color: var(--text-hover);
    transition: all .5s ease-in-out;
}
/*min-width: 600px header*/
@media only screen and (max-width: 1200px){
    .nav-list{
        display: none;
    }
    #btn-nav:not(:checked) ~ .tri{
        display: block;
    }
    #btn-nav:checked ~ .x{
        display: block;
    }
    .nav-list{
        z-index: -1;
        position: absolute;
        top: -29rem;
        left: calc(50%);
        transform: translate(-50%);
        padding: 1.5rem;
        height: 20rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-nav);
        transition: all .5s ease-out;
    }
    #btn-nav:checked ~ .nav-list{
        top: 5rem;
        transition: all .5s ease-in;
        transition-property: top;
    }
    #btn-nav:checked ~ section{
        padding-top: 10rem;
    }
    .nav-link{
        display: block;
        height: 2.5rem;
        font-size: 2.5rem;
    }
}
/*min-width: 480px footerer*/
@media only screen and (max-width: 480px){
    footer{
        height: 7rem;
        flex-direction: column;
    }
}