<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Tab-->
        <title>Anchr</title>
        <link rel="icon" href="../img/logo.svg">
        <!--Metadata-->
        <my-metadata></my-metadata>
        <link rel="canonical" href="https://anchr.tk">
        <!--Style-->
        <my-style></my-style>
    </head>
    <body>
        <my-header></my-header>
        <section class="main">
            Hello world! :D
        </section>
        <my-footer></my-footer>
        <script type=module src="../script/script.js"></script>
    </body>
</html>